SECRET_KEY_FLASK=werewtrwetewrwer53535353
SLACK_BOT_TOKEN=xoxb-
DOMAIN=domain.com
BASEDN="OU=Usersdc=domaindc=com"
USER_ADMIN=admin-user
PASSWORD_ADMIN=password_admin
SLACK_DB=slack_db.json
SLACK_ACTIVATION=False
DEBUG=True
COMPANY=DIGITALEBRAIN
RECAPTCHA_PUBLIC_KEY=GOOGLE_CODE
RECAPTCHA_PRIVATE_KEY=GOOGLE_CODE
CRT_CERTIFICATE=name.crt
KEY_CERTIFICATE=name.key
MYSQL_DATABASE_USER=root
MYSQL_DATABASE_PASSWORD=<password>
MYSQL_DATABASE_HOST=<host>
MYSQL_DATABASE_DB=ops_manager
MYSQL_DATABASE_PORT=3306
LOG_FILE=app.log
APP_HOST=0.0.0.0
APP_PORT=5000
AUTHENTICATION_TYPE=local
EMAIL_USER=<mail.com>
EMAIL_PASS=<password>
LDAP_HOST=ldap://ldap:389
LDAP_BIND_NAME=dc=Testdc=com
LDAP_ADMIN="cn=admindc=Testdc=com"
LDAP_ADMIN_PASS=example
PASSWORD_EXPIRY_MINUTES=60