{% extends "layout.html" %}
{% block link %}
    <link rel="stylesheet" media="screen, print"
          href="{{ url_for('static', filename='css/datagrid/datatables/datatables.bundle.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ url_for('static', filename='css/fa-solid.css') }}">
    <!-- <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet"> -->
{% endblock link %}

{% block pageheader %}
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title | capitalize }}</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            {{ title | capitalize }}
        </h1>
    </div>
{% endblock pageheader %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr bg-primary-700">
                    <h2>
                        Data Centers
                    </h2>
                    <div class="panel-toolbar">
                        <button data-target="#add-datacenter" data-toggle="modal"
                                class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-offset="0,10"
                                data-original-title="Collapse"><i class="fal fa-plus"></i>
                        </button>
                        <button data-action="panel-collapse" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Collapse"><i class="fal fa-minus"></i>
                        </button>
                        <button data-action="panel-fullscreen" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Fullscreen"><i class="fal fa-expand"></i>
                        </button>
                        <button data-target="#example-modal-centered-transparent_info" data-toggle="modal"
                                data-offset="0,10" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-original-title="Info"><i class="fal fa-info"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <!-- datatable start -->
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-700">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Controls</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for datacenter in datacenters %}
                            <tr>
                                <td>
                                    {{ datacenter.id }}
                                </td>
                                <td>
                                    {{ datacenter.name }}
                                </td>
                                <td>
                                    <div class="row float-right mr-1">
                                        <form class="mr-1">
                                            <input type="hidden" id="dc_id_{{ datacenter.id }}" name="dc_id_{{ datacenter.id }}" value="{{ datacenter.id }}" />
                                            <input type="hidden" id="dc_nane_{{ datacenter.id }}" name="dc_name_{{ datacenter.id }}" value="{{ datacenter.name }}" />
                                            <button class="btn btn-outline-primary btn-sm btn-icon rounded-circle hover-effect-dot waves-effect waves-themed" type="button" data-toggle="modal" data-target="#datacenter-modal-lg-center_{{ datacenter.id }}">
                                                <i class="fal fa-pencil">
                                                </i>
                                            </button>
                                        </form>
                                        <form class="mr-1">
                                            <button class="btn btn-outline-danger btn-sm btn-icon rounded-circle hover-effect-dot waves-effect waves-themed" type="button" onclick="deleteDatacenter('{{ datacenter.id }}','{{datacenter.name}}')">
                                                <i class="fal fa-trash">
                                                </i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>

            <div id="panel-2" class="panel">
                <div class="panel-hdr bg-primary-700">
                    <h2>
                        Environments
                    </h2>
                    <div class="panel-toolbar">
                        <button data-target="#add-environment" data-toggle="modal"
                                class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-offset="0,10"
                                data-original-title="Collapse"><i class="fal fa-plus"></i>
                        </button>
                        <button data-action="panel-collapse" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Collapse"><i class="fal fa-minus"></i>
                        </button>
                        <button data-action="panel-fullscreen" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Fullscreen"><i class="fal fa-expand"></i>
                        </button>
                        <button data-target="#example-modal-centered-transparent_info" data-toggle="modal"
                                data-offset="0,10" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-original-title="Info"><i class="fal fa-info"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <!-- datatable start -->
                        <table id="dt-basic-example-2" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-700">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Control</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for environment in environments %}
                            <tr>
                                <td>
                                    {{ environment.id }}
                                </td>
                                <td>
                                    {{ environment.name }}
                                </td>
                                <td>
                                    <div class="row float-right mr-1">
                                        <form class="mr-1">
                                            <input type="hidden" id="env_id_{{ environment.id }}" name="env_id_{{ environment.id }}" value="{{ environment.id }}" />
                                            <input type="hidden" id="env_nane_{{ environment.id }}" name="env_name_{{ environment.id }}" value="{{ environment.name }}" />
                                            <button class="btn btn-outline-primary btn-sm btn-icon rounded-circle hover-effect-dot waves-effect waves-themed" type="button" data-toggle="modal" data-target="#environment-modal-lg-center_{{ environment.id }}">
                                                <i class="fal fa-pencil">
                                                </i>
                                            </button>
                                        </form>
                                        <form class="mr-1">
                                            <button class="btn btn-outline-danger btn-sm btn-icon rounded-circle hover-effect-dot waves-effect waves-themed" type="button" onclick="deleteEnvironment('{{ environment.id }}','{{environment.name}}')">
                                                <i class="fal fa-trash">
                                                </i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Control</th>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>

            <!-- Edit Environments Modal-->
            {% for environment in environments %}
            <div class="modal fade" id="environment-modal-lg-center_{{ environment.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <legend class="border-bottom mb-2 text-primary">Edit environment <mark><strong>{{environment.name}}</strong></mark></legend>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">
                                <div class="content-section">
                                    <fieldset class="form-group">
                                        <input class="form-control form-control-lg" id="env_edit_id_{{ environment.id }}" name="env_edit_id_{{ environment.id }}" required type="hidden" value="{{ environment.id }}">
                                        <div class="form-group">
                                            <h5 class="frame-heading mb-2">Name</h5>
                                            <input class="form-control form-control-lg" id="env_name_{{ environment.id }}" name="env_name_{{ environment.id }}" value='{{ environment.name if environment.name else ""}}'>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-lg mt-3" onclick="editEnvironment('{{ environment.id }}', '{{environment.name}}')">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Edit DataCenter Modal-->
            {% for datacenter in datacenters %}
            <div class="modal fade" id="datacenter-modal-lg-center_{{ datacenter.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <legend class="border-bottom mb-2 text-primary">Edit Data Center <mark><strong>{{datacenter.name}}</strong></mark></legend>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">
                                <div class="content-section">
                                    <fieldset class="form-group">
                                        <input class="form-control form-control-lg" id="dc_edit_id_{{ datacenter.id }}" name="dc_edit_id_{{ datacenter.id }}" required type="hidden" value="{{ datacenter.id }}">
                                        <div class="form-group">
                                            <h5 class="frame-heading mb-2">Name</h5>
                                            <input class="form-control form-control-lg" id="dc_name_{{ datacenter.id }}" name="dc_name_{{ datacenter.id }}" value='{{ datacenter.name if datacenter.name else ""}}'>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-lg mt-3" onclick="editDataCenter('{{ datacenter.id }}', '{{datacenter.name}}')">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Add Data Center Modal-->
            <div class="modal fade example-modal-centered-transparent_info" id="add-datacenter"
                 tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">
                                Add Data Center
                            </h4>
                            <button type="button" class="close text-black-50" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <div class="">
                                    <div class="" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                             aria-labelledby="v-pills-home-tab">
                                            <form id="js-login" novalidate="" method="POST" action="{{ url_for('datacenters.datacenters_environments') }}">
                                                {{ datacenter_form.hidden_tag() }}
                                                {{ datacenter_form.type }}
                                                <div class="form-group">
                                                    {{ datacenter_form.name.label(class="form-label", placeholder="datacenter name", autocomplete="off") }}
                                                    {% if datacenter_form.name.errors %}
                                                        {{ datacenter_form.name(class="form-control", placeholder="datacenter name", autocomplete="off") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in datacenter_form.name.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ datacenter_form.name(class="form-control", placeholder="datacenter name", autocomplete="off") }}
                                                    {% endif %}
                                                    <div class="invalid-feedback">No, you missed this one.</div>
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4 ml-auto text-right">
                                                            <button type="submit" class="btn btn-primary btn-lg mt-3">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                             aria-labelledby="v-pills-profile-tab">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Environment Modal-->
            <div class="modal fade example-modal-centered-transparent_info" id="add-environment"
                 tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">
                                Add Environment
                            </h4>
                            <button type="button" class="close text-black-50" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <div class="">
                                    <div class="" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                             aria-labelledby="v-pills-home-tab">
                                            <form id="js-login" novalidate="" method="POST" action="{{ url_for('datacenters.datacenters_environments') }}">
                                                <input name="environment" type="hidden" value="env">
                                                {{ environment_form.hidden_tag() }}
                                                {{ environment_form.type }}
                                                <div class="form-group">
                                                    {{ environment_form.name.label(class="form-label", placeholder="environment name", autocomplete="off") }}
                                                    {% if environment_form.name.errors %}
                                                        {{ environment_form.name(class="form-control", placeholder="environment name", autocomplete="off") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in environment_form.name.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ environment_form.name(class="form-control", placeholder="environment name", autocomplete="off") }}
                                                    {% endif %}
                                                    <div class="invalid-feedback">No, you missed this one.</div>
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4 ml-auto text-right">
                                                            <button type="submit" class="btn btn-primary btn-lg mt-3">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                             aria-labelledby="v-pills-profile-tab">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Info -->
            <div class="modal fade example-modal-centered-transparent_info" id="example-modal-centered-transparent_info"
                 tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">
                                Tenants
                                <small class="m-0 opacity-70">
                                    A list of all enabled tenants for configured pods.
                                </small>
                            </h4>
                            <button type="button" class="close text-black-50" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                         aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                           href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                           aria-selected="true">
                                            <i class="fal fa-money-bill-wave"></i>
                                            <span class="hidden-sm-down ml-1">Tenants</span>
                                        </a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                           href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                           aria-selected="false">
                                            <i class="fal fa-cog"></i>
                                            <span class="hidden-sm-down ml-1">Configuration</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                             aria-labelledby="v-pills-home-tab">
                                            <h3>
                                                <a href="https://wiki.fraudmap.net/confluence/display/development/XCEED+Fraud+Architecture#XCEEDFraudArchitecture-WhatisaTenant?"
                                                   target="_blank">Tenants</a>
                                            </h3>
                                            <p> The financial institutions that send us event data are our "customers".
                                                However, each customer can have different offerings, like wire, online
                                                banking, ach etc. In our system, we call these "tenants".
                                                <br><br>
                                                For example, StarOne Credit Union is a customer and its different
                                                offerings viz. retail, wire, achrdfi etc are the different tenants. Each
                                                such tenant is allocated an id by us which is called a service id. A
                                                service id is unique inside a pod.
                                                In our system, a sample tenant name looks like this:
                                                <br><br>
                                                <font color="red">StarOneCUCA</font>-<font
                                                        color="blue">Retail</font>_<font color="green">1777</font>
                                                <br><br>
                                                The part in red is called the host_name and the one in blue is called
                                                the host_service. The green is the service_id at the end.
                                                <br><br>
                                                Each tenant has a tenant definition, which constitutes of the tenant
                                                model and the tenant configuration.
                                            </p>
                                            <span class="fs-sm d-flex align-items-center mt-3 flex-wrap">
                                                                </span>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                             aria-labelledby="v-pills-profile-tab">
                                            <h3>
                                                Configuration
                                            </h3>
                                            <p>
                                                The tenants.pp files are how tenants show up here. The CommanderData
                                                program needs to be configured to watch the desired pod. Any
                                                tenants that are enabled will show up here and depending on the
                                                components enabled for them, can be managed through this tool.
                                            </p>
                                            <p>
                                                Enabled tenant pp example:
                                                <br>
                                                fraudmap4::pod::tenant { "$pod_name:HostName-HostService_ServiceID":
                                                <br><br>
                                                The CommanderData program is extremely picky about this line. If you
                                                mess it up, your tenant could not show up.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!--
                            <button type="button" class="btn btn-primary">Save changes</button>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/datagrid/datatables/datatables.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datagrid/datatables/datatables.export.js') }}"></script>
    <script>
    {% raw %}

        async function editDataCenter(id, name) {
            var name = document.getElementById('dc_name_' + id).value;

            response = await fetch('/edit-datacenter', 
            {
                headers: {"Content-Type": "application/json" },
                method: 'POST',
                body: JSON.stringify({'id': id, 'name': name })
            });
            
            result = await response.json()
            if(result.success){
                window.location.href = '/datacenters';
                // toastr.success("user edited successfully");
            }
            else{
                console.error(`Error occurred while editing. ${response.error}`)
                toastr.warning(response.error ? response.error : "Error while editing data center")
            }
        }

        async function editEnvironment(id, name) {
            var name = document.getElementById('env_name_' + id).value;

            response = await fetch('/edit-environment', 
            {
                headers: {"Content-Type": "application/json" },
                method: 'POST',
                body: JSON.stringify({'id': id, 'name': name })
            });
            
            result = await response.json()
            if(result.success){
                window.location.href = '/datacenters';
                // toastr.success("user edited successfully");
            }
            else{
                console.error(`Error occurred while editing. ${response.error}`)
                toastr.warning(response.error ? response.error : "Error while editing environment")
            }
        }


        /* Delete Datacenter */
        async function deleteDatacenter(id, name) {
            var swalWithBootstrapButtons = Swal.mixin(
            {
                customClass:
                {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-danger mr-2"
                },
                buttonsStyling: false
            });

            result = await swalWithBootstrapButtons.fire(
            {
                title: "Are you sure?",
                html: `You are deleting Datacenter <mark><strong>${name}</strong></mark>, You won't be able to revert this!`,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            });
            if(result.value){
                try{
                    del_response = await fetch('/delete_datacenter/' + id, {method: 'DELETE',})
                    response = await del_response.json()
                    if (response.success) {
                        await swalWithBootstrapButtons.fire("Deleted!",`Datacenter <mark><strong>${name}</strong></mark> has been deleted.`,"success");
                        window.location.href = '/datacenters'; // Redirect to home or another appropriate page
                    }
                    else{
                            console.error("Error occurred while deleting.")
                            toastr.warning(response.error)
                    }
                }
                catch(e){
                    console.error(e);
                    toastr.warning(`Exception: ${e.message}`);
                }
            }
            else{
                swalWithBootstrapButtons.fire("Cancelled",`Deletion of datacenter <mark><strong>${name}</strong></mark> is cancelled, you are safe :)`,"error");
            }
        }
        /* Delete Environment */
        async function deleteEnvironment(id, name) {
            var swalWithBootstrapButtons = Swal.mixin(
            {
                customClass:
                {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-danger mr-2"
                },
                buttonsStyling: false
            });

            result = await swalWithBootstrapButtons.fire(
            {
                title: "Are you sure?",
                html: `You are deleting environment <mark><strong>${name}</strong></mark>, You won't be able to revert this!`,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            });
            if(result.value){
                try{
                    del_response = await fetch('/delete_environment/' + id, {method: 'DELETE',})
                    response = await del_response.json()
                    if (response.success) {
                        await swalWithBootstrapButtons.fire("Deleted!",`environment <mark><strong>${name}</strong></mark> has been deleted.`,"success");
                        window.location.href = '/datacenters'; // Redirect to home or another appropriate page
                    }
                    else{
                            console.error("Error occurred while deleting.")
                            toastr.warning(response.error)
                    }
                }
                catch(e){
                    console.error(e);
                    toastr.warning(`Exception: ${e.message}`);
                }
            }
            else{
                swalWithBootstrapButtons.fire("Cancelled",`Deletion of environment <mark><strong>${name}</strong></mark> is cancelled, you are safe :)`,"error");
            }
        }
    {% endraw %}
        $(document).ready(function () {

            // initialize datatable
            $('#dt-basic-example, #dt-basic-example-2').dataTable(
                {
                    responsive: true,
                    lengthChange: true,
                    language: {
                        "lengthMenu": "_MENU_"
                    },
                    fixedHeader: true,
                    dom:
                    /*  --- Layout Structure
                        --- Options
                        l   -   length changing input control
                        f   -   filtering input
                        t   -   The table!
                        i   -   Table information summary
                        p   -   pagination control
                        r   -   processing display element
                        B   -   buttons
                        R   -   ColReorder
                        S   -   Select

                        --- Markup
                        < and >             - div element
                        <"class" and >      - div with a class
                        <"#id" and >        - div with an ID
                        <"#id.class" and >  - div with an ID and a class

                        --- Further reading
                        https://datatables.net/reference/option/dom
                        --------------------------------------
                     */
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'fl><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        // {
                        //     extend:    'colvis',
                        //     text:      'Column Visibility',
                        //     titleAttr: 'Col visibility',
                        //     className: 'mr-sm-3'
                        // },
                        {
                            extend: 'pdfHtml5',
                            text: 'PDF',
                            titleAttr: 'Generate PDF',
                            className: 'btn-outline-danger btn-sm mr-1'
                        },
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            titleAttr: 'Generate Excel',
                            className: 'btn-outline-success btn-sm mr-1'
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            titleAttr: 'Generate CSV',
                            className: 'btn-outline-primary btn-sm mr-1'
                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Copy',
                            titleAttr: 'Copy to clipboard',
                            className: 'btn-outline-primary btn-sm mr-1'
                        },
                        {
                            extend: 'print',
                            text: 'Print',
                            titleAttr: 'Print Table',
                            className: 'btn-outline-primary btn-sm'
                        }
                    ]
                });

        });

    </script>
    </main>
{% endblock script %}