{% extends "login_layout.html" %}


{% block content %}
    <div class="row">
        <div class="col-xl-6 ml-auto mr-auto">
            <div class="card p-4 rounded-plus bg-faded">
                <form id="js-login" novalidate="" method="POST" action="/reset-expired">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="id" value="{{user_id}}">
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="hidden" name="password" value="{{current_password}}">

                    <div class="form-group">
                        <div class="input-with-icon">
                            {{ form.new_password.label(class="form-label") }}
                            {{ form.new_password(class="form-control password-input", placeholder="new password") }}
                            <i class="fal fa-eye show-password-icon"></i>
                        </div>
                        {% if form.new_password.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                        <div class="help-block">Your password must be 8-20 characters long, contain letters and numbers,
                            and must not contain spaces, special characters, or emoji.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-with-icon">
                            {{ form.confirm_password.label(class="form-label") }}
                            {{ form.confirm_password(class="form-control password-input", placeholder="confirm password") }}
                            <i class="fal fa-eye show-password-icon"></i>
                        </div>
                        {% if form.confirm_password.errors %}
                            <div class="invalid-feedback">Error
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>                            
                        {% endif %}
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4 ml-auto text-right">
                            <button id="js-login-btn" type="submit" class="btn btn-primary btn-lg mt-3">Reset Password
                            </button>
                        </div>
                    </div>
                    <!-- <div class="row no-gutters">
                        <a href="{{ url_for('users.forgot') }}" class="my2">Forgot Password?</a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
{% endblock content %}