
{% macro render_reset_form(password_type, username, reset_password_form) %}

<div class="row">
    <div class="col-xl-10 ml-auto mr-auto mb-5">
        <div class="p-4 rounded-plus">
            <form novalidate="" method="POST" action="/reset-password-attributes/{{ username }}">
                {{ reset_password_form.csrf_token(id="csrf_token_"+password_type) }}
                {{ reset_password_form.password_type(id=password_type, value=password_type) }}
                <div class="form-group">
                    <div class="input-with-icon">
                        <label for="current_password_{{ password_type }}" class="form-label" placeholder="Current password" >Current LDAP Password</label>
                        {{ reset_password_form.current_password(id="current_password_"+password_type,class="form-control password-input", placeholder="Current password", autocomplete="off") }}
                        <i class="fal fa-eye show-password-icon" id={{"icon_current_password_"+password_type}}></i>
                    </div>
                    {% if reset_password_form.current_password.errors %}
                        <div class="invalid-feedback">
                            {% for error in reset_password_form.current_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="invalid-feedback">Sorry, you missed this one.</div>
                </div>
                <div class="form-group">
                    <div class="input-with-icon password-field">
                        {{ reset_password_form.new_password.label(class="form-label") }}
                        {{ reset_password_form.new_password(id="new_password_"+password_type,class="form-control password-input", placeholder="new password") }}
                        <i class="fal fa-eye show-password-icon" id={{"icon_new_password_"+password_type}}></i>
                    </div>
                    <div class="password-error help-block"></div>
                    {% if reset_password_form.new_password.errors %}
                        <div class="invalid-feedback">
                            {% for error in reset_password_form.new_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="invalid-feedback">Sorry, you missed this one.</div>
                    <div class="help-block">Your password must be 8-20 characters long, contain letters and numbers,
                        and must not contain spaces, special characters, or emoji.
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-with-icon">
                        {{ reset_password_form.confirm_password.label(class="form-label") }}
                        {{ reset_password_form.confirm_password(id="confirm_password_"+password_type,class="form-control password-input", placeholder="confirm password") }}
                        <i class="fal fa-eye show-password-icon" id={{"icon_confirm_password_"+password_type}}></i>
                    </div>
                    {% if reset_password_form.confirm_password.errors %}
                        <div class="invalid-feedback">Error
                            {% for error in reset_password_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>                            
                    {% endif %}
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4 ml-auto text-right">
                        <button id="js-login-btn-{{password_type}}" type="submit" class="btn btn-primary btn-lg mt-3">Reset
                            Password
                        </button>
                    </div>
                </div>
                <!-- <div class="row no-gutters">
                    <a href="{{ url_for('users.forgot') }}" class="my2">Forgot Password?</a>
                </div> -->
            </form>
        </div>
    </div>
</div>

{% endmacro %}