    <div class="row">
        <div class="col-xl-12">
            <div id="ua-panel-1" class="panel">
                <div class="panel-hdr bg-primary-700">
                    <h2>
                        User Attribute Types
                    </h2>
                    <div class="panel-toolbar">
                        <button data-target="#add-user-at"
                                class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="modal" data-offset="0,10"
                                data-original-title="Collapse"><i class="fal fa-plus"></i>
                        </button>
                        <button data-action="panel-collapse" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Collapse"><i class="fal fa-minus"></i>
                        </button>
                        <button data-action="panel-fullscreen" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Fullscreen"><i class="fal fa-expand"></i>
                        </button>
                        <!-- <button data-target="#example-modal-centered-transparent_info" data-toggle="modal"
                                data-offset="0,10" class="btn btn-primary btn-xs btn-icon rounded-circle"
                                style="margin-right: 5px" data-original-title="Info"><i class="fal fa-info"></i>
                        </button> -->
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <!-- datatable start -->
                        <table id="ua-dt-basic-example" class="table table-bordered table-hover table-striped w-100 attr-dt-basic">
                            <thead class="bg-primary-700">
                            <tr>
                                <th>Attribute Name</th>
                                <th>Limit</th>
                                <th>Control</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ua in user_attributes %}
                                <tr>
                                    <td>
                                        {{ ua.name }}
                                    </td>
                                    <td>
                                        {{ ua.limit }}
                                    </td>
                                    <td>
                                        <div class="row float-right mr-1">
                                            <form class="mr-1">
                                                <input type="hidden" id="ua_id_{{ ua.id }}" name="ua_id_{{ ua.id }}" value="{{ ua.id }}" />
                                                <input type="hidden" id="ua_nane_{{ ua.id }}" name="ua_name_{{ ua.id }}" value="{{ ua.name }}" />
                                                <button class="btn btn-outline-primary btn-sm btn-icon rounded-circle hover-effect-dot waves-effect waves-themed" type="button" data-toggle="modal" data-target="#ua_default-example-modal-lg-center_{{ ua.id }}">
                                                    <i class="fal fa-pencil">
                                                    </i>
                                                </button>
                                            </form>
                                            <form class="mr-1">
                                                <button class="btn btn-outline-danger btn-sm btn-icon rounded-circle hover-effect-dot waves-effect waves-themed" type="button" onclick="deleteUserAttributeType('{{ ua.id }}','{{ua.name}}')">
                                                    <i class="fal fa-trash">
                                                    </i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Limit</th>
                                <th>Control</th>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>

            <!-- Edit User Attribute -->
            {% for ua in user_attributes %}
            <div class="modal fade" id="ua_default-example-modal-lg-center_{{ ua.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <legend class="border-bottom mb-2 text-primary">Edit Attribute <mark><strong>{{ua.name}}</strong></mark></legend>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">
                                <div class="content-section">
                                    <fieldset class="form-group">
                                        <input class="form-control form-control-lg" id="ua_edit_id_{{ ua.id }}" name="ua_edit_id_{{ ua.id }}" required type="hidden" value="{{ ua.id }}">
                                        <div class="form-group">
                                            <h5 class="frame-heading mb-2">Attribute Name</h5>
                                            <input class="form-control form-control-lg" id="ua_name_{{ ua.id }}" name="ua_name_{{ ua.id }}" value='{{ ua.name if ua.name else ""}}'>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="frame-heading mb-2">Limit</h5>
                                            <input class="form-control form-control-lg" id="ua_limit_{{ ua.id }}" name="ua_limit_{{ ua.id }}" value='{{ ua.limit if ua.limit else ""}}'>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-lg mt-3" onclick="editUserAttribute('{{ ua.id }}', '{{ua.name}}')">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Add User Attribute Form -->
            <div class="modal fade example-modal-centered-transparent_info" id="add-user-at"
                 tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">
                                Add User Attribute Type
                            </h4>
                            <button type="button" class="close text-black-50" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <div class="">
                                    <div class="" id="ua-v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="ua-v-pills-home" role="tabpanel"
                                             aria-labelledby="v-pills-home-tab">
                                            <form id="ua-js-login" novalidate="" method="POST" action="">
                                                {{ user_form.hidden_tag() }}
                                                {{ user_form.attribute_type }}
                                                <div class="form-group">
                                                    {{ user_form.name.label(class="form-label", placeholder="name", autocomplete="off") }}
                                                    {% if user_form.name.errors %}
                                                        {{ user_form.name(class="form-control", placeholder="name", autocomplete="off") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in user_form.name.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ user_form.name(class="form-control", placeholder="name", autocomplete="off") }}
                                                    {% endif %}
                                                    <div class="invalid-feedback">No, you missed this one.</div>
                                                </div>
                                                <div class="form-group">
                                                    {{ user_form.limit.label(class="form-label", placeholder="limit", autocomplete="off") }}
                                                    {% if user_form.limit.errors %}
                                                        {{ user_form.service_id(class="form-control", placeholder="limit", autocomplete="off") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in user_form.limit.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ user_form.limit(class="form-control", placeholder="limit", autocomplete="off") }}
                                                    {% endif %}
                                                    <div class="invalid-feedback">No, you missed this one.</div>
                                                </div>
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 ml-auto text-right">
                                                        <button type="submit" class="btn btn-primary btn-lg mt-3">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="ua-v-pills-profile" role="tabpanel"
                                             aria-labelledby="v-pills-profile-tab">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        {% raw %}
            
            async function editUserAttribute(attribute_id) {
                var limit = document.getElementById('ua_limit_' + attribute_id).value;
                var attribute_name = document.getElementById('ua_name_' + attribute_id).value;

                response = await fetch('/edit-user-attribute-type', 
                {
                    headers: {"Content-Type": "application/json" },
                    method: 'POST',
                    body: JSON.stringify({'attribute_id': attribute_id, 'attribute_name': attribute_name, 'limit': limit})
                });
                
                result = await response.json()
                if(result.success){
                    window.location.reload();
                    // toastr.success("user edited successfully");
                }
                else{
                    console.error(`Error occurred while editing. ${result.error}`)
                    toastr.warning("Error while editing user attribute")
                }
            }

        function deleteUserAttributeType(id, name) {
            var swalWithBootstrapButtons = Swal.mixin(
            {
                customClass:
                {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-danger mr-2"
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire(
            {
                title: "Are you sure?",
                html: `You are deleting <mark><strong>${name}</strong></mark>, You won't be able to revert this!`,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then(async (result) =>{
                if (result.value){
                    fetch('/delete_user_attribute_type/' + id, {method: 'DELETE'})
                    .then(response => response.json())
                    .then(async (data) => {
                        console.log(data);
                        // Handle the response data, e.g., show a message or redirect
                        if (data.success) {
                            await swalWithBootstrapButtons.fire("Deleted!",`User Attribute <mark><strong>${name}</strong></mark> has been deleted.`,"success");
                            window.location.reload();
                            // Redirect or update UI accordingly
                            // window.location.href = '/user_attributes'; // Redirect to home or another appropriate page
                        }
                        else{
                            console.error(`Error occurred while deleting. ${response.error}`)
                            toastr.warning(response.error)
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        toastr.warning(error.message)
                    });
                }
                else if (result.dismiss === Swal.DismissReason.cancel)
                {
                    swalWithBootstrapButtons.fire("Cancelled",`Deletion of user Attribute <mark><strong>${name}</strong></mark> is cancelled, you are safe :)`,"error");
                }
            })
        }
        {% endraw %}
    </script>
